#msgDisplay {
  border: 1px solid black;
  list-style-type: none;
  padding: 0px 10px;
}

/* #msgDisplay li {
  

} */

/* p.message:hover{
  background-color: #00FFFF;
  margin: 0px;
  padding: 0px;
} */

.closeButton:hover{
  background: red;
}
.closeButton {
  border-radius: 10px;
}

.editButton:hover{
  background: aqua;
}
.editButton {
  border-radius: 10px;
}